.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-create{
    width: 450px;
}

.task-form{
    display: flex;
    flex-direction: column;
}

.task-label{
    margin: 10px 0;
}

.task-input{
    padding: 10px;
    border: 1px solid black;
}

.task-button{
    margin: 20px 0;
    padding: 10px;
    font-size: 20px;
    border: 1px solid green;
    background-color: green;
    color: #fff;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-show{
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1e1e1e;
    margin: 20px;
}

.task-title{
    margin-bottom: 5px;
}

.task-button-delete{
    padding: 5px;
    font-size: 14px;
    width: 60px;
    border: none;
    background-color: red;
    color: #fff;
    margin: 0 5px;
}

.task-button-update{
    padding: 5px;
    font-size: 14px;
    width: 80px;
    border: none;
    background-color: cadetblue;
    color: #fff;
}